<% provide :title,  t("user") %>
<div class="row">
  <table>
    <thead>
    <th><%= t "id" %></th>
    <th><%= t "name" %></th>
    <th><%= t "mail" %></th>
    <th><%= t "created" %></th>
    <th><%= t "updated" %></th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= l user.created_at, :format => :short %></td>
        <td><%= l user.updated_at, :format => :short %></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
